body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "taebaek";
  font-style: normal;
  font-weight: normal;
  src: url("../../static/fonts/TAEBAEK.ttf") format("truetype");
}

@font-face {
  font-family: "taebaek-milkyway";
  font-style: normal;
  font-weight: normal;
  src: url("../../static/fonts/TAEBAEK-milkyway.ttf") format("truetype");
}