.home {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.home__main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color:black;
  /*background-image: linear-gradient(to top left, steelblue, cadetblue);*/
  background-image: linear-gradient(to top left, rgb(40, 40, 60), rgb(0, 0, 20));
}

.home__main__canvas {
  position: fixed;
  
  width: 100vw;
  height: 100vh;

  padding: 2vh;
}

.home__main__titleBox {
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.home__main__titleBox__title {
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__main__titleBox__title__text {
  z-index:1;

  font-family: "taebaek";
  font-size: 8vh;
  font-weight: bold;

  padding-top: 1vh;
  padding-bottom: 1vh;

  color: white;
}

.home__main__titleBox__title__text__vibration {
  z-index:1;

  font-family: "taebaek";
  font-size: 8vh;
  font-weight: bold;

  padding-top: 1vh;
  padding-bottom: 1vh;

  color: white;

  animation: vibration .1s infinite;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.home__main__titleBox__title__contentsTree {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.5s ease-in;
}

.home__main__titleBox__title:hover > .home__main__titleBox__title__contentsTree {
  opacity: 1;
  height: 55vh;
}

.home__main__titleBox__subtitle {
  z-index:1;

  font-family: "taebaek-milkyway";
  font-size: 5vh;
  font-weight: bold;

  padding-top: 2vh;
  padding-bottom: 2vh;

  color: white;
}

.home__main__titleBox__contact {
  z-index:1;

  text-decoration-line: none;

  font-family: "Consolas", monospace;
  font-size: 3vh;
  font-weight: normal;

  padding-top: 1vh;

  color: white;
}

.home__main__titleBox__contact:hover {
  text-decoration: underline;
}