.navigator {
  width: 25%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  /*background-color: rgb(40, 40, 40);*/
  background-image: linear-gradient(to top left, rgb(47, 116, 119), cadetblue);
  background-image: linear-gradient(to top left, rgb(40, 40, 60), rgb(0, 0, 20));
  border-right-style: inset;
  border-color: white;
}

.navigator__title {
  color: white;
  text-decoration: none;
  
  font-family: "taebaek";
  font-size: 5vh;
  font-weight: bold;

  padding-top: 1vh;
  padding-bottom: 1vh;
}