.navigator {
  padding-left: 2vw;
  padding-top: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: fixed;
}

.navigator__title {
  color: white;
  text-decoration: none;
  
  font-family: "taebaek";
  font-size: 5vh;
  font-weight: bold;

  padding-top: 1vh;
  padding-bottom: 1vh;
}