.post {
  display: flex;
  justify-content: space-between;
}

.post__content {
  width: 100vw;
  
  align-items: center;
  align-content: center;

  margin-left: 25%;
}

.post__content__title {
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 5vh;
  font-weight: bold;
}

.post__content__date {
  font-size: 2vh;
}

.post__content__author {
  font-size: 2vh;
}