.post {
  display: flex;
  justify-content: space-between;
}

.post__side {
  width: 25%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  box-shadow: 2vh 1vh 4vh 0vh gray;
}

.post__side__title {
  font-family: "taebaek";
  font-size: 3vh;
  font-weight: bold;

  padding-top: 1vh;
  padding-bottom: 1vh;
}

.post__content {
  width: 100vw;
  
  align-items: center;
  align-content: center;

  margin-left: 25%;
}