.postList {
  width: 100%;

  /*display: flex;*/
  justify-content: space-between;
}

.postList__background {
  width: 100vw;
  height: 100vh;
  position: fixed;

  /*background-color: #181818;*/
  background-image: linear-gradient(to top left, rgb(40, 40, 60), rgb(0, 0, 20));
  z-index: -1;
}

.postList__category {
  /*width: 100%;*/
  font-size: 5vh;
  font-weight: bold;

  margin-left: 30%;
  padding-left: 2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;

  /*position: fixed;*/
  
  color:white;
}

.postList__content {
  width: 50%;

  /*margin-top: 20vh;*/

  align-items: center;
  align-content: center;

  margin-left: 30%;
}

.postList__content__post {
  width: 95%;
  margin-left: 1.5vw;

  padding-top: 3vh;
  padding-bottom: 3vh;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  color: #D0D0D0;
}

.postList__content__post__title {
  color: white;
  text-decoration: none;
  
  font-size: 2.5vh;
  font-weight: bold;
}

.postList__content__post__title:hover {
  text-decoration: underline;
}

.postList__content__post__excerpt {
  font-size: 2vh;
  font-weight: normal;
  line-height: 160%;

  padding-top: 2vh;
  padding-bottom: 2vh;
}

.postList__content__post__date {
  font-size: 2vh;
  font-weight: normal;
  text-align: end;
}

.postList__content__post__author {
  font-size: 2vh;
  font-weight: normal;
  text-align: end;
}