@font-face {
  font-family: "taebaek";
  font-style: normal;
  font-weight: normal;
  src: local('taebaek'), url("/fonts/TAEBAEK-milkyway.ttf") format("truetype");
}

@font-face {
  font-family: "taebaek-milkyway";
  font-style: normal;
  font-weight: normal;
  src: local('taebaek-milkyway'), url("/fonts/TAEBAEK-milkyway.ttf") format("truetype");
}